<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>


</head>
<body background="/2.jpg "  >
<h2 class="co">个人中心</h2>
<div>
    <form action="/deleteuser" method="post">
       <label  class="co">用户名 </label>
        <input type="text" name="username" placeholder="用户名">
         <label class="co">密码</label>
        <input type="text" name="password" placeholder="密码">
        <input type="submit" value="删除用户">
    </form>
    <h2 th:utext="${msg2}" style="color: aquamarine;"></h2>


</div>
<div>
    <form action="/getuser" method="post">
        <label class="co">用户名</label>
        <input type="text" name="username" placeholder="用户名">

        <input type="submit" value="查找用户">
    </form>
    <h2 th:utext="${msg3}" style="color: aquamarine;"></h2>


</div>
<div>
    <form action="/updateuser" method="post">
        <label class="co">用户名</label>
        <input type="text" name="username" placeholder="用户名">
        <label class="co">原密码</label>
        <input type="password" name="opassword" placeholder="密码">
        <label class="co">新密码</label>
        <input type="password" name="npassword" placeholder="密码">
        <input type="submit" value="更改密码">
    </form>
    <h2 th:utext="${msg4}" style="color:aquamarine ;"></h2>

</div>

</body>


    <style>
    .co {
      color:white;
    }
    </style>
</html>